{% extends "base.html" %}
{% block title %}Welcome - Home Page{% endblock %}

{% block content %}
<div class="container cont-body-index overflow-auto">
    <p>Welcome, dear friend! May I suggest a brewery and offer you a beer?</p>
    <p>Let's start <span class="cross">testing</span> tasting a beer from a random brewery in the upper menu!
      You'll learn about its brewery type, exact location, and I'll provide you with their phone number and website (where available)!
    </p>
    <p>Are your ideas, maybe, already clear? Filter among the breweries and go visit them!</p>
    <p>Lastly, if you're a chronically undecided person, my dear friend... I suggest you to
      <span class="cross">see a doctor</span> consult the list of available breweries!
    </p>
    <p>Drink carefully if you have to drive back!</p>
</div>

{% endblock %}
